.container{
  display: flex;
}

.item{
  height: 295px;
  width: 325px;
}

.green{
background: rgb(86, 204, 40);
}

.yellow{
  background: rgba(255, 238, 0, 0.89);
}

.purple{
  background: rgb(155, 37, 179);
}