.container {
    display: flex;
    height: 300px;
    background: orange;
    align-items: flex-end;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}

.item {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    background: purple;
}