.container {
    display: flex;
    flex-direction: column;
}

.item {
    width: 295px;
}

.green {
    background: rgb(86, 204, 40);
    flex: 1;
    order: 1;
}

.yellow {
    background: rgba(255, 238, 0, 0.89);
    flex: 2;
    order: 3;
}

.purple {
    background: rgb(155, 37, 179);
    flex: 1;
    order: 2;
}