*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Lato', sans-serif;
  background: rgb(216, 216, 216);
}

.header{
  background: url(./milky-way.jpg) no-repeat;
  background-size: cover;
  height: 200px;
  overflow: hidden;
  color: white;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header a{
  color: white;
  text-decoration: none;
  letter-spacing: 50px;
}

.body-container{
  display: flex;
}

.main{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: gray;
}

.aside{
  width: 300px;
  margin: 10px 0 0 10px;
}

.sidebar-title{
  height: 30px;
  background: #4aa3df;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-content{
  background: white;
  margin-top: 10px;
  min-height: 200px; /* for testing */
}

.post-container{
  margin: 5px 5px 5px 5px;
  display: flex;
  background: white;
}

.post-position-box{
  align-self: center;
  padding: 10px;
  font-size: x-large;
}

.vote-container-box{
  align-self: center;
  min-width: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.content-container-box{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  padding: 0 0 0 10px;
}

.content-container-box a {
  text-decoration: none;
  font-size: larger;
}

.title-box {
  display: flex;
  align-items: flex-end;
  flex: 1;
}

.post-info-box{
  flex: 1;
}

